<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
          <br>
          <br>
          <br>
          <br>
          <br>
          <dd>
            <%= button_to add_item_detail_cart_path(product_id: @product.id), class: 'btn btn-primary' , method: :post do%>
            <%= fa_icon "shopping-cart", text: 'Add' %>
            <% end %>
          </dt>
        </dl>
       
      </div>
    </div>
      
  </article>

</section>
